In [19]:
#Nama : Daniel Parulian Nainggolan
#Proyek Pertama

In [10]:
import pandas as pd
df = pd.read_csv('sample_data/ramen-ratings.csv')

In [11]:
df.head()

   Review #           Brand  ... Stars Top Ten
0      2580       New Touch  ...  3.75     NaN
1      2579        Just Way  ...     1     NaN
2      2578          Nissin  ...  2.25     NaN
3      2577         Wei Lih  ...  2.75     NaN
4      2576  Ching's Secret  ...  3.75     NaN

[5 rows x 7 columns]

In [12]:
category = pd.get_dummies(df.Style)
df_baru = pd.concat([df, category], axis=1)
df_baru = df_baru.drop(columns='Style')
df_baru

      Review #           Brand  ... Pack Tray
0         2580       New Touch  ...    0    0
1         2579        Just Way  ...    1    0
2         2578          Nissin  ...    0    0
3         2577         Wei Lih  ...    1    0
4         2576  Ching's Secret  ...    1    0
...        ...             ...  ...  ...  ...
2575         5           Vifon  ...    0    0
2576         4         Wai Wai  ...    1    0
2577         3         Wai Wai  ...    1    0
2578         2         Wai Wai  ...    1    0
2579         1        Westbrae  ...    1    0

[2580 rows x 13 columns]

In [14]:
variety = df_baru['Variety'].values
label = df_baru[['Bar', 'Bowl', 'Box', 'Can', 'Cup', 'Pack','Tray']].values

In [15]:
from sklearn.model_selection import train_test_split
variety_latih, variety_test, label_latih, label_test = train_test_split(variety, label, test_size=0.2)

In [16]:
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences
     
tokenizer = Tokenizer(num_words=5000, oov_token='x')
tokenizer.fit_on_texts(variety_latih) 
tokenizer.fit_on_texts(variety_test)
     
sekuens_latih = tokenizer.texts_to_sequences(variety_latih)
sekuens_test = tokenizer.texts_to_sequences(variety_test)
    
padded_latih = pad_sequences(sekuens_latih) 
padded_test = pad_sequences(sekuens_test)

In [17]:
import tensorflow as tf
model = tf.keras.Sequential([
    tf.keras.layers.Embedding(input_dim=5000, output_dim=16),
    tf.keras.layers.LSTM(64),
    tf.keras.layers.Dense(128, activation='relu'),
    tf.keras.layers.Dense(64, activation='relu'),
    tf.keras.layers.Dense(7, activation='softmax')
])
model.compile(loss='categorical_crossentropy',optimizer='adam',metrics=['accuracy'])

In [18]:
num_epochs = 30
history = model.fit(padded_latih, label_latih, epochs=num_epochs, validation_data=(padded_test, label_test), verbose=2)

Epoch 1/30
65/65 - 4s - loss: 1.3538 - accuracy: 0.5795 - val_loss: 1.0659 - val_accuracy: 0.6085
Epoch 2/30
65/65 - 1s - loss: 1.0705 - accuracy: 0.5896 - val_loss: 1.0459 - val_accuracy: 0.6085
Epoch 3/30
65/65 - 1s - loss: 0.9968 - accuracy: 0.5911 - val_loss: 0.9799 - val_accuracy: 0.6085
Epoch 4/30
65/65 - 1s - loss: 0.8748 - accuracy: 0.6347 - val_loss: 0.9492 - val_accuracy: 0.6453
Epoch 5/30
65/65 - 1s - loss: 0.7812 - accuracy: 0.6754 - val_loss: 1.0025 - val_accuracy: 0.5872
Epoch 6/30
65/65 - 1s - loss: 0.7036 - accuracy: 0.7379 - val_loss: 0.9286 - val_accuracy: 0.6783
Epoch 7/30
65/65 - 1s - loss: 0.6405 - accuracy: 0.7689 - val_loss: 0.9823 - val_accuracy: 0.7016
Epoch 8/30
65/65 - 1s - loss: 0.5760 - accuracy: 0.7980 - val_loss: 0.9617 - val_accuracy: 0.6841
Epoch 9/30
65/65 - 1s - loss: 0.5227 - accuracy: 0.8115 - val_loss: 0.9219 - val_accuracy: 0.7074
Epoch 10/30
65/65 - 1s - loss: 0.4758 - accuracy: 0.8266 - val_loss: 0.9656 - val_accuracy: 0.6919
Epoch 11/30
65/65 - 1s - loss: 0.4380 - accuracy: 0.8435 - val_loss: 0.9811 - val_accuracy: 0.7093
Epoch 12/30
65/65 - 1s - loss: 0.4055 - accuracy: 0.8474 - val_loss: 1.0386 - val_accuracy: 0.6996
Epoch 13/30
65/65 - 1s - loss: 0.3879 - accuracy: 0.8576 - val_loss: 0.9843 - val_accuracy: 0.6957
Epoch 14/30
65/65 - 1s - loss: 0.3689 - accuracy: 0.8653 - val_loss: 0.9892 - val_accuracy: 0.7035
Epoch 15/30
65/65 - 1s - loss: 0.3529 - accuracy: 0.8634 - val_loss: 1.1058 - val_accuracy: 0.6957
Epoch 16/30
65/65 - 1s - loss: 0.3384 - accuracy: 0.8682 - val_loss: 1.1878 - val_accuracy: 0.6957
Epoch 17/30
65/65 - 1s - loss: 0.3239 - accuracy: 0.8755 - val_loss: 1.1308 - val_accuracy: 0.7074
Epoch 18/30
65/65 - 1s - loss: 0.3128 - accuracy: 0.8755 - val_loss: 1.2844 - val_accuracy: 0.6996
Epoch 19/30
65/65 - 1s - loss: 0.3172 - accuracy: 0.8697 - val_loss: 1.2333 - val_accuracy: 0.6589
Epoch 20/30
65/65 - 1s - loss: 0.3054 - accuracy: 0.8823 - val_loss: 1.2452 - val_accuracy: 0.6977
Epoch 21/30
65/65 - 1s - loss: 0.2825 - accuracy: 0.8891 - val_loss: 1.2627 - val_accuracy: 0.6841
Epoch 22/30
65/65 - 1s - loss: 0.2816 - accuracy: 0.8939 - val_loss: 1.2806 - val_accuracy: 0.6860
Epoch 23/30
65/65 - 1s - loss: 0.2843 - accuracy: 0.8861 - val_loss: 1.3048 - val_accuracy: 0.7016
Epoch 24/30
65/65 - 1s - loss: 0.2798 - accuracy: 0.8818 - val_loss: 1.3375 - val_accuracy: 0.6977
Epoch 25/30
65/65 - 1s - loss: 0.2713 - accuracy: 0.8924 - val_loss: 1.2653 - val_accuracy: 0.6957
Epoch 26/30
65/65 - 1s - loss: 0.2640 - accuracy: 0.8963 - val_loss: 1.3494 - val_accuracy: 0.6822
Epoch 27/30
65/65 - 1s - loss: 0.2534 - accuracy: 0.8958 - val_loss: 1.3950 - val_accuracy: 0.6841
Epoch 28/30
65/65 - 1s - loss: 0.2539 - accuracy: 0.8992 - val_loss: 1.2785 - val_accuracy: 0.6783
Epoch 29/30
65/65 - 1s - loss: 0.2548 - accuracy: 0.8978 - val_loss: 1.3718 - val_accuracy: 0.6841
Epoch 30/30
65/65 - 1s - loss: 0.2474 - accuracy: 0.8987 - val_loss: 1.4048 - val_accuracy: 0.6822